html{
  box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    margin:0;
    
  }

  /** HEADER **/
#header-nav {
    background-color: #154751;
    border-radius: 0;
    position: relative;
    margin: 0 auto;
    border:0;
   
  }

  .headercont {
    margin-left: 30px;
    margin-right: 30px;
  }

 

  .navbar-header{
   position: relative;
  }

.navbar-brand a {
  position: relative;
}

  h1{
    position: relative;
    margin:0 auto; 
  }
  
  .navbar-header h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color:#ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    line-height: .75;
    padding: 25px 15px 15px 15px;
    
    
  }
  .navbar-header a:hover, .navbar-header a:focus, .navbar-header a:link  {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color:#ffffff;
    text-align: center;
  }
  #nav-list a:hover {
    background: #050505;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }


  ul.nav li a {
    display: block;
  }
  
  /* END HEADER */

  /*BODY*/
  .main{
    
    color:#ffffff;
    overflow-x: hidden;
    
    
    
  }

  .insidecont {
    background-color: #458491;
    margin: 5px 5px 5px 5px ;
    padding: 15px 15px 15px 15px;
  }



  /********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

}
